<h1>FIT2095 Week 8</h1>

<div class="form-group w8form">
  <label for="item">CPU</label>
  <input type="text" class="form-control" [(ngModel)]="cpu" id="item" />
  <label for="item">RAM</label>
  <input type="number" class="form-control" [(ngModel)]="ram" id="item" />
  <label for="item">SSD</label>
  <input type="number" class="form-control" [(ngModel)]="ssd" id="item" />
  <label for="item">Type</label>
  <input type="text" class="form-control" [(ngModel)]="type" id="item" />

  <button class="btn btn-primary" (click)="newDevice()">Add Device {{db.length}}</button>
  <button *ngIf="getPCnumber('PC')>0" class="btn btn-warning" (click)="deleteDeviceByType('PC')">Delete PCs
    {{getPCnumber('PC')}}</button>

</div>



<table class="table table-hover ">
  <tr>
    <th> # </th>
    <th> CPU </th>
    <th> RAM </th>
    <th> SSD </th>
    <th> TYPE </th>
    <th> Del? </th>
  </tr>
  <tr *ngFor="let item of db; let i = index">
    <td>{{i+1}}</td>
    <td>{{item.cpu}}</td>
    <td>{{item.ram}}</td>
    <td>{{item.ssd}}</td>
    <td>{{item.type}}</td>
    <td> <button class="btn btn-danger" (click)="deleteDeviceById(i)">X</button></td>
  </tr>
</table>
